@charset "utf-8"; /*exemplo de comentário*/

h1 { 
    
    
    font-family: cursive;
    text-align: center;
    color: black;
    background-color:#ba181b;

}

body{


background-color:    #e5383b;


}